bib/
tmp/
env/
lectures/
run/
.vscode/
python/tool/__pycache__/
project/

## Python auxiliary files:
.venv/
*.pyc

## cocotb auxiliary files:
*/sim_build/*
*/results.xml

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.fdb_latexmk
*.synctex.gz
*.pdf
*.zip
